@model IEnumerable<MeuProjeto.Models.Produto>


<link href="~/css/ProIndex.css" rel="stylesheet" />

<p>
    <a asp-controller="Produto" asp-action="CadastrarProduto" class="btn btn-primary">Cadastra Produto</a>
</p>
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeP)
            </th>
            <th class="text-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescricaoP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PresoP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeP)
                </th>
                <td class="text-center">
                    <a asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@item.IdPro" class="btn btn-sm btn-warning">Editar</a>
                    <span>|</span>
                    <a asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@item.IdPro"
                       onclick="return confirm('Deseja realmente Excluir este item?');" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>